.App {
  background-image: url('images/bg.jpeg');
  background-size: cover;

}

.tableCellWrapper {
  height: 100vh;
  display: table;
  margin: auto;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}
form{
  padding: 30px;
  background-color:rgba(255,255,255,0.8);
}
h1 {
  text-align: center;
}

input {
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
}

tr, td {
  padding-top: 5px;
  font-size: 18px;
}

.button-submit {
  border: none;
  background-color: rgb(195, 61, 61);
  width: 100%;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 15px;
  font-size: 18px;
}
.button-submit:hover{
  cursor: pointer;
  background-color: rgb(160, 49, 49);
}